* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font: 400 1rem 'Nunito', sans-serif;
}

html,
body,
body > div:first-child {
  height: 100vh;
  background: #fff;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
