@import '../../styles/theme/colors.scss';

.button {
  padding: 0.75rem 1rem;
  box-shadow: 0 0 1.5rem $color-black-005;
  border-radius: 0.75rem;
  font-weight: bold;
  border: none;
  width: 100%;
  min-height: 3rem;
  transition: filter 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;

  &.primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &.secondary {
    background-color: $color-white;
    color: $color-primary;
    box-shadow: none;
  }

  &:hover {
    filter: brightness(95%);
  }
}
