$color-black: #000;
$color-black-025: rgba(0, 0, 0, 0.25);
$color-black-005: rgba(0, 0, 0, 0.05);
$color-white: #fff;
$color-pickled-bluewood: #293845;
$color-oslo-gray: #848586;
$color-cabaret: #d3455a;
$color-primary: #24ceac;
